.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
}

.chat-top {
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
}

.chat-top div {
    margin: 0 2vh;
}

.chat-avatar {
    display: flex;
    height: 8vh;
    width: 8vh;
}

.chat-avatar img {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
}

.text-area {
    overflow-y: scroll;
    color: black;
    flex: 2;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.send {
    flex: 0;
}

.send input {
    width: 80%;
}