.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.chat-container::-webkit-scrollbar {
    display: none;
}

.chat-top {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(25, 25, 25);
}

.chat-top div {
    margin: 0 2vh;
}

.chat-avatar {
    display: flex;
    height: 8vh;
    width: 8vh;
}

.chat-avatar img {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
}


.text-area {
    margin-top: 16vh;
    height: 70%;
    padding: 1vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}

*::-webkit-scrollbar {
    display: none;
}

.text-area div {
    color: white;
    font-weight: bold;
    margin: .5vh;
    border-radius: 10px;
}

.my {
    margin-bottom: 1vh;
    max-width: 50%;
    float: right;
    width: fit-content;
    clear: both;
    background: linear-gradient(to bottom, rgb(63, 63, 63), rgb(37, 37, 37));
}

.other {
    max-width: 50%;
    float: left;
    margin-bottom: 1vh;
    clear: both;
    background: linear-gradient(to bottom, rgb(63, 63, 63), rgb(37, 37, 37));
}


.text {
    font-size: 2vh;
    overflow-wrap: break-word;
}


.send {
    position: fixed;
    bottom: 0;
    box-shadow: 5px 5px 10px rgb(190, 190, 190);
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    width: 100%;
    /* gap: 6vh; */
}

.send div:first-child {
    /* width: 60%; */
}

.send textarea {
    border: 0;
    border-radius: 10px;
    resize: none;
    /* width: 100%; */
}

.send textarea::-webkit-scrollbar {
    display: none;
}


@media only screen and (screen<500px) {
    .text {
        font-size: 3vw;
    }

    .chat-top {
        font-size: 5vw;
    }

    .send {
        position: fixed;
        bottom: 0;
    }
}

@media only screen and (screen<300px) {
    .text {
        font-size: 2vw;
    }

    .chat-top {
        font-size: 5vw;
    }
}