.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
}

.chat-top {
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
    box-shadow: 5px 5px 10px rgb(25, 25, 25);
}

.chat-top div {
    margin: 0 2vh;
}

.chat-avatar {
    display: flex;
    height: 8vh;
    width: 8vh;
}

.chat-avatar img {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
}


.text-area {
    overflow-y: scroll;
    color: black;
    flex: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.text-area div {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    margin: .5vh;
    border-radius: 10px;

}

.my {
    max-width: 50%;
    width: fit-content;
    align-self: flex-end;
    background-color: rgba(88, 88, 88, 0.753);
}

.other {
    max-width: 50%;
    width: fit-content;
    background-color: rgba(88, 88, 88, 0.753);
    align-items: flex-start;
}


.my div {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: fit-content;


}

.other div {

    display: flex;
    flex-direction: row;
    width: fit-content;
}


.text {
    font-size: 1.5vh;
}


.send {
    display: flex;
    align-items: center;
    flex: 0;
}

.send div {
    margin: 0 1vh;
}

.send textarea {

    padding: 0 2vh;
    border: 0;
    border-radius: 10px;
    resize: none;
}

.send textarea::-webkit-scrollbar {
    display: none;
}