.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.chat-top {
    background-color: rgb(108, 108, 108);
    width: 100%;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
    box-shadow: 5px 5px 10px rgb(25, 25, 25);
}

.chat-top div {
    margin: 0 2vh;
}

.chat-avatar {
    display: flex;
    height: 8vh;
    width: 8vh;
}

.chat-avatar img {
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
}


.text-area {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    color: black;
    display: flex;
    flex-direction: column;
}

.text-area div {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: bold;
    margin: .5vh;
    border-radius: 10px;
    /* background-color: aqua; */
}

.my {
    max-width: 50%;
    word-wrap: break-word;
    align-self: flex-end;
    background: linear-gradient(to top, rgb(63, 63, 63), rgb(51, 51, 51));
}

.other {
    max-width: 50%;
    overflow-wrap: break-word;
    width: fit-content;
    background: linear-gradient(to bottom, rgb(63, 63, 63), rgb(37, 37, 37));
    align-items: flex-start;
}


.text {
    font-size: 2vh;
    overflow-wrap: break-word;
}


.send {
    box-shadow: 5px 5px 10px rgb(190, 190, 190);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 6vh;
}

.send div:first-child {
    width: 60%;
}

.send textarea {
    border: 0;
    border-radius: 10px;
    resize: none;
    width: 100%;
}

.send textarea::-webkit-scrollbar {
    display: none;
}

@media only screen and (screen<500px) {
    .text {
        font-size: 3vw;
    }

    .chat-top {
        font-size: 5vw;
    }
}
@media only screen and (screen<300px) {
    .text {
        font-size: 2vw;
    }

    .chat-top {
        font-size: 5vw;
    }
}