body {
    background-color: black;
}

.landing-container {
    height: 100vh;
    height: --webkit-fill-avaiable;
    display: flex;
    align-items: center;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    user-select: none;
}



.main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 3;
    height: 100%;
}

.card {
    /* border: 5px solid transparent; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5vh;
    height: 70vh;
    border-radius: 30px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.507), rgba(54, 54, 54, 0.189));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

form div {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


button,
img {
    cursor: pointer;
}

.input {
    overflow: hidden;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 2vh;
    background-color: transparent;
    height: 3vw;
    width: 100%;
    padding: 0 2vh;
    border-radius: 20px;
    margin: 2vh;
    transition: 0.5s;
    border-bottom: 2px solid white;
}

.input:focus {
    height: 7vh;
    color: black;
    background-color: white;
    transition: 0.5s;
}

.button {
    font-size: 2vh;
    height: 5vh;
    width: fit-content;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    transition: 0.5s;
}

.button:hover {
    background-color: rgb(213, 213, 213);
    transition: 0.5s;
    scale: 1.1;
}

.google-btn {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-size: 2vh;
    font-weight: 700;
}

svg {
    vertical-align: middle;
}

span {
    font-size: 3vh;
}

.show {
    color: white;
    animation: inAnimation 0.5s linear;
    display: block;
}

.hide {
    animation: outAnimation 0.5s linear;
    display: none;
}

@keyframes inAnimation {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

@keyframes outAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.avatar {
    cursor: pointer;
    vertical-align: middle;
}

.error {
    border: 1px solid red
}

.correct {
    border: 1px solid rgb(17, 255, 0)
}

small {
    font-weight: bold;
    cursor: pointer;
}

@media only screen and (width<900px) {

    .input {
        height: 5vw;
    }
}

@media only screen and (width<500px) {
    .input {
        height: 6vw;
        width: 100%;
        font-size: 3vw;
    }

    .right {
        justify-content: center;

    }

    .left {
        display: none;
    }

    .card {
        height: fit-content;
        min-height: 50vw;
        width: 60vw;
    }

    small {
        font-size: 0.8rem;
    }
}

.loading {
    position: relative;
    animation: animateBorder 2s infinite;
    transition: 0.5s ease-in;
}

@keyframes animateBorder {

    0% {
        border: 5px solid #A8BDFE;

    }

    50% {
        border: 5px solid #a8bdfe00;

    }

    100% {
        border: 5px solid #a8bdfe;

    }
}