.layout {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    /* background: linear-gradient(to right, #202021, #373737); */
}

.chat-left {
    position: relative;
    padding: 1rem;
    background: linear-gradient(to right, #202021, #373737);
    display: flex;
    flex-direction: column;
    transition: .5s;
    width: 20vw;
    min-height: 100%;
}

.chat-right {
    background-color: #333333;
    min-height: 100%;
    width: 80vw;
}

.enableBlur>* {
    filter: blur(10px);
    transition: 0.5s;
}

.disableBlur {
    filter: blur(0);
}

@media only screen and (width<500px) {

    .chat-left,
    .chat-right {
        width: 100%;
    }

}