.layout {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    /* background: linear-gradient(to right, #202021, #373737); */
}

.chat-left {
    border-radius: 30px;
    position: relative;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    transition: .5s;
    min-width: 20vw;
    min-height: 98%;
    font-size: 2vh;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.468);
}

.chat-right {
    min-height: 98%;
    max-width: 100%;
}

.enableBlur>* {
    filter: blur(10px);
    transition: 0.5s;
}

.disableBlur {
    filter: blur(0);
}

@media only screen and (width<500px) {

    .chat-left,
    .chat-right {
        width: 100%;
        font-size: 3vw;
    }

}