.layout {
    display: flex;
}

.chat-left {
    border-radius: 30px;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    transition: .5s;
    font-size: 2vh;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.chat-right {
    flex: 1;
}

.enableBlur>* {
    filter: blur(10px);
    transition: 0.5s;
}

.disableBlur {
    filter: blur(0);
}

@media only screen and (width<500px) {

    .chat-left,
    .chat-right {
        width: 100%;
        font-size: 3vw;
    }

    .chat-left {
        margin: 1rem;
        border-radius: 30px;
    }

}