.layout {
    display: flex;
}

.chat-left {
    border-radius: 30px;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    transition: .5s;
    font-size: 2vh;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.468);
}

.chat-right {
    flex: 1;
}

.enableBlur>* {
    filter: blur(10px);
    transition: 0.5s;
}

.disableBlur {
    filter: blur(0);
}

@media only screen and (width<500px) {

    .chat-left,
    .chat-right {
        width: 100%;
        font-size: 3vw;
    }

    .chat-left {
        border-radius: 30px;
    }

}