.left-nav {
    font-weight: bold;
    padding: 1vh;
    color: white;
    display: flex;
    align-items: center;
    background: #2e2e2f63;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 20px;
}

.avatar-container {
    margin: 0 1vh;
    display: flex;
    height: 6vh;
    width: 6vh;
}

.avatar-container img {
    border: 2px solid white;
    border-radius: 50%;
    width: 100%;
}

.options {
    z-index: 5;
    position: absolute;
    bottom: 13%;
    color: white;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: #2e2e2f23;
    display: flex;
    width: fit-content;
    padding: 2vh;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    animation: grow 0.2s linear;
    opacity: 1;
}

.options div {
    margin: 1vh;
}

.disableOptions {
    animation: shrink 0.2s linear;
    float: right;
    opacity: 0;
    display: none;
}

.search-container {
    margin: 0.5rem 1vw;
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
    border-bottom: 1px solid white;
}

.search {
    color: rgba(255, 255, 255, 0.785);
    font-weight: bold;
    width: 100%;
    font-size: 2vh;
    background-color: transparent;
    border: 0;
}

.search::placeholder {
    color: white;
}



@keyframes grow {
    0% {
        height: 0;
        opacity: 0;
    }

    100% {
        height: 20vh;
        opacity: 1;

    }
}

@keyframes shrink {
    0% {
        height: 20vh;
        opacity: 1;
    }

    100% {
        height: 0vh;
        opacity: 0;

    }
}


.hideUserName {
    animation: hideUserName 0.1s linear;
    opacity: 0;
}

.showUserName {
    animation: showUserName 0.1s linear;
    opacity: 1;
}

@keyframes hideUserName {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes showUserName {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (width<500px) {
    .left-nav {
        /* flex-direction: column-reverse; */
        height: fit-content;
        font-size: 2vh;
    }

    .search {
        font-size: 1rem;
    }
}