.myChats-Container {
    max-height: 70vh;
}

.heading {
    color: white;
    font-size: 8vh;
}

.all-chats {
    overflow-y: scroll;
    height: 50vh;
}


.myChats {
    color: white;
    font-weight: bold;
    background: #70707034;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 1rem 0.5rem;
    padding: 0.2rem;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.myChats div {
    display: flex;
    align-items: center;
    height: 100%;
    width: 6vh;
}

.myChats p {
    margin-left: 5vh;
    font-size: 1rem;
}

.myChats div img {
    padding: 0 3vh;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 100%;
}


@media screen and (width<500px) {
    .heading {
        font-size: 5rem;
    }

    .myChats p {
        font-size: 1rem;
    }

    .myChats div img {
        padding: 0 2vh;
    }

}