.myChats-Container {
    max-height: 70vh;
}

.heading {
    color: white;
    font-size: 8vh;
}

.all-chats {
    overflow-y: scroll;
    height: 50vh;
}


.myChats {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    background: #70707034;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 1vh;
    padding: 1rem;
    height: 7vh;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(25, 25, 25)
}

.myChats div {
    display: flex;
    align-items: center;
    height: 100%;
    width: 6vh;
}

.myChats p {
    margin-left: 5vh;
    font-size: 1rem;
}

.myChats div img {
    padding: 0 3vh;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 100%;
}


@media screen and (width<500px) {
    .myChats p {
        font-size: 2vh;
    }

    .myChats div img {
        padding: 0 2vh;
    }

}